#Ignore the environment
.env

#Ignore csvs
*.csv

#Ignore bat viles
*.bat

#Ignore JSON Firebase Secret
firebaseJWT.json
firebase.json

#Anything Firebase Related
404.html
index.html
.firebase
.firebaserc
app.js
